<!-- Views -->
<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>The result of the count</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Resultado:</h1>
        <p>O resultado é <%= @resultado %></p>
        <a href="/">Fazer outro calculo.</a>
    </body>
</html>